FLASK_APP=run.py
FLASK_ENV=development
# Database URL format: mysql+pymysql://<user>:<password>@<host>:<port>/<db_name>
DATABASE_URL=mysql+pymysql://root:yourpassword@localhost:3306/transaction_guard
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=16777216  # 16 MB limit
ROW_SPLIT_THRESHOLD=50000     # Threshold at which the cleaned file splits into chunks zipped together
